html, body {
    background: #f9f5eb !important;
    color: #4D3E3E;
}

.bo{
    border: 1px solid;
}

.main-missing-body{
    width: 1440px;
    height: 924px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* 실종 페이지 */

.slider_wrapper {
    left: 105px;
    bottom: 200px;
    position: absolute;
    overflow: hidden;
    width: 1260px;
    height: 400px;
}

.slider_container {
    display: flex;
    transition: transform 0.5s ease;
}

.misssing_item {
    min-width: 380px;
    height: 100%;
    /*border-radius: 20px;*/
    overflow: hidden;
    margin-right: 50px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

.misssing_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 슬라이더 버튼 스타일 */
.slider_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    width: 40px;
    height: 40px;
}

.left_btn {
    left: 10px;
    display: none;
}

.right_btn {
    right: 10px;
    display: none;
}

.gps_popup, .gps_popup2 {
    border: 1px solid;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFEF0;
}


.gps_popup_button{
    padding: 10px;
    border: 1px solid #4D3E3E;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /*-moz-border-radius-bottomleft: 20px;*/
    /*-moz-border-radius-bottomright: 20px;*/
    background: rgba(255, 255, 255, 0.7);
}

/* 훈련 영상 페이지 */

.box3 {
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    padding-top: 100px;
    display: flex;
    justify-content: end;
}

.svg-box {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    animation: pulse 5s infinite;
    margin: 40px 30px;
    box-shadow: 8px 0 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    align-items: center;
    border-radius: 20px;
}

.svg-box:hover{
    animation: none;
}

.svg-title {
    width: 300px;
    margin-top: 40px;
    text-align: center;
}

.svg-icon {
    display: inline-block;
    width: 300px;
    height: 300px;
    /*border-radius: 20px;*/
}

.svg-text {
    width: 300px;
    height: 100px;
    margin-bottom: 40px;
}

.svg-icon:hover {
    box-shadow: none !important;
    transition: none;
}

/* 아이콘 색상 및 애니메이션 설정 */
.flat-filled .icon > path,
.flat-filled .icon > .lightning {
    fill: #ff6f61;
    transition: fill 0.3s ease;
}
.flat-filled .circle {
    fill: #ffffff;
    transition: fill 0.3s ease;
}

/* hover 시 색상 변화 및 그림자 효과 */

#filled-message .dots {
    fill: #ede0d4;
}
#filled-message:hover .circle {
    fill: #ffffff;
}
#filled-message:hover .back {
    fill: #ff6f61;
}
#filled-message:hover .front {
    fill: #ff6f61;
}

#filled-film .bottom {
    fill: #ede0d4;
}
#filled-film .top {
    fill: #ede0d4;
}

#filled-film:hover .circle {
    fill: #ffffff;
}
#filled-film:hover .base {
    fill: #ff6f61;
}

#filled-magnify .glass {
    fill: #ede0d4;
}

#filled-magnify:hover .circle {
    fill: #ffffff;
}
#filled-magnify:hover .base {
    fill: #ff6f61;
}

/* hover 시 그림자 및 크기 증가 */
.flat-filled:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

/* 애니메이션 키프레임 */
@keyframes left-top {
    0% {
        transform: translate(-100px, -100px) scale(3, 3);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translate(-50px, -50px) scale(1.5, 1.5);
    }
    100% {
        transform: translate(0px, 0px) scale(1, 1);
    }
}

@keyframes right-top {
    0% {
        transform: translate(100px, -200px) scale(3, 3);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translate(50px, -100px) scale(1.5, 1.5);
    }
    100% {
        transform: translate(0px, 0px) scale(1, 1);
    }
}

@keyframes right {
    0% {
        transform: translate(100px, 0px);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translate(50px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes left {
    0% {
        transform: translate(-100px, 0px);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translate(-50px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

/* hover 시 애니메이션 적용 */
#filled-film:hover .bottom,
#filled-message:hover .dots {
    animation: left 0.4s ease-in-out forwards;
}

#filled-film:hover .top,
#filled-magnify:hover .glass {
    animation: right 0.4s ease-in-out forwards;
}

#filled-film:hover .base {
    animation: right-top 0.4s ease-in-out forwards;
}

#filled-magnify:hover .base {
    animation: left-top 0.4s ease-in-out forwards;
}

#filled-message:hover .front {
    animation: left-top 0.4s ease-in-out forwards;
}

#filled-message:hover .back {
    animation: right 0.4s ease-in-out forwards;
}

/* 펄스 애니메이션 */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}