<th:block th:replace="usr/common/head"/>
<head>
    <title>TailsRoute</title>
    <link rel="stylesheet" href="/resource/css/article.css"/>
    <script>

        const params = {};
        params.id = [[${param.id}]];


        let isAlreadyAddGoodRp = [[${isAlreadyAddGoodRp}]];
        let isAlreadyAddBadRp = [[${isAlreadyAddBadRp}]];

        <!-- 좋아요 싫어요 처리 -->
        function checkRP() {
            if (isAlreadyAddGoodRp) {
                $('#likeButton').toggleClass('btn-outline');
            } else if (isAlreadyAddBadRp) {
                $('#DislikeButton').toggleClass('btn-outline');
            }
        }

        $(document).ready(function () {
            checkRP();
            setTimeout(ArticleDetail__doIncreaseHitCount, 2000);
        });

        <!-- 조회수 증가 함수 -->
        function ArticleDetail__doIncreaseHitCount() {
            const localStorageKey = 'article__' + params.id + '__alreadyOnView';

            if (localStorage.getItem(localStorageKey)) {
                return;
            }

            localStorage.setItem(localStorageKey, true);

            $.ajax({
                url: '/usr/article/doIncreaseHitCountRd',  // URL
                type: 'POST',                                // HTTP 메서드를 POST로 변경
                data: {
                    id: params.id,
                    ajaxMode: 'Y'
                },       // 요청 데이터
                dataType: 'json',                           // 응답 데이터 타입
                success: function (data) {                  // 성공 시 콜백 함수
                    $('.article-detail__hit-count').empty().html(data.data1);
                },
                error: function () {                        // 에러 시 콜백 함수
                    console.error('조회수 증가 실패');
                }
            });
        }

        <!-- 댓글 작성 -->
        function ReplyWrite__submit(form) {
            form.body.value = form.body.value.trim();

            if (form.body.value.length < 3) {
                alert('내용이 너무 짧습니다');
                form.body.focus();
                return false;
            }

            form.submit();
        }
    </script>
</head>
<body>
<div class="article_body">
    <div class="title" th:text="${article.title}">제목</div>
    <div class="tw-p-5 tw-flex tw-items-end tw-justify-between">
        <div class="tw-flex tw-gap-2">
            <img th:if="${article.extra__dogPoto != null}" th:src="@{${article.extra__dogPoto}}" alt="Profile Image"
                 class="head_profile_image tw-w-[50px] tw-h-[50px] tw-border tw-border-[#4D3E3E] tw-rounded-full"/>
            <img th:if="${article.extra__dogPoto == null}"
                 th:src="@{/resource/photo/default.png}"
                 alt="Default Profile Image"
                 class="head_profile_image tw-w-[50px] tw-h-[50px] tw-border tw-border-[#4D3E3E] tw-rounded-full"/>
            <div>
                <div th:text="${article.extra__writer}"></div>
                <span th:text="|${article.regDate} / 조회수 |"></span>
                <span class="article-detail__hit-count" th:text="${article.hitCount}"></span>
            </div>
        </div>
        <div class="tw-flex tw-gap-2" th:if="${member != null}">
            <a class="article_button" th:href="|@{../article/modify?id=}${article.id}|"
               th:if="${member.id == article.memberId}">수정</a>
            <a class="article_button" th:href="|@{../article/doDelete?id=}${article.id}|"
               th:if="${member.id == article.memberId}">삭제</a>
        </div>
    </div>
    <div class="article_body">
        <div class="tw-p-5" th:utext="${article.body}"></div>
        <div class="tw-flex tw-justify-between">
            <div class="reply_title tw-p-5" th:text="|댓글 : ${replies.size()}|"></div>
            <button th:class="${isAlreadyAddGoodRp ? 'tw-text-red-500 tw-font-bold tw-p-5' : 'tw-p-5'}" id="likeButton" th:onclick="'doGoodReaction(\'article\', ' + ${article.id} + ')'">
                👍 추천
                <span id="likeCount" th:text="${article.goodReactionPoint}"></span>
            </button>
        </div>
        <div class="reply_body" th:if="${isLogined}">
            <form th:action="@{../reply/doWrite}" method="POST" onsubmit="ReplyWrite__submit(this); return false;">
                <input type="hidden" name="relTypeCode" value="article"/>
                <input type="hidden" name="relId" th:value="${article.id}"/>
                <div>
                    <textarea name="body" class="tw-w-full tw-p-2" placeholder="댓글을 작성해주세요"></textarea>
                </div>
                <button class="article_button tw-ml-auto">작성하기</button>
            </form>
        </div>

        <div class="reply_body" th:if="${!isLogined}">
            댓글 작성을 위해 <a class="article_button" th:href="${rq.loginUri}">로그인</a>이 필요합니다
        </div>
        <div class="tw-mx-auto">
            <div class="tw-p-5 tw-flex tw-items-center tw-justify-between tw-border-b tw-border-gray-500" th:each="reply : ${replies}">
                <div class="tw-flex tw-gap-2 tw-flex-1">
                    <img th:if="${reply.extra__dogPhoto != null}" th:src="@{${reply.extra__dogPhoto}}"
                         alt="Profile Image"
                         class="head_profile_image tw-w-[50px] tw-h-[50px] tw-border tw-border-[#4D3E3E] tw-rounded-full"/>
                    <img th:if="${reply.extra__dogPhoto == null}"
                         th:src="@{/resource/photo/default.png}"
                         alt="Default Profile Image"
                         class="head_profile_image tw-w-[50px] tw-h-[50px] tw-border tw-border-[#4D3E3E] tw-rounded-full"/>
                    <div class="tw-w-full tw-pr-2">
                        <div th:text="${reply.extra__writer}"></div>
                        <div class="tw-flex tw-gap-2">
                            <div th:text="${reply.updateDate}"></div>
                            <div th:id="'replylikeCount' + ${reply.id}" th:text="${reply.goodReactionPoint}"></div>
                            <div th:id="'reply-body-' + ${reply.id}" class="tw-flex tw-justify-center tw-items-center">
                                <button th:onclick="'doGoodReaction(\'reply\', ' + ${reply.id} + ')'">
                                    <i th:class="${reply.extra__reactionPoint == null ? 'fa-solid fa-heart' : 'fa-solid fa-heart tw-text-red-500'}"></i>
                                </button>
                            </div>
                        </div>
                        <div>
                            <div th:id="'reply-' + ${reply.id}" th:text="${reply.body}"></div>
                            <form th:id="'modify-form-' + ${reply.id}" style="display:none;"
                                  onsubmit="doModifyReply(${reply.id}); return false;">
                                <input class="tw-w-full" type="text" th:name="'reply-text-' + ${reply.id}"
                                       th:value="${reply.body}"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tw-flex tw-gap-2" th:if="|${member != null && reply.memberId == member.id}|">
                    <div>
                        <button th:id="'modify-btn-' + ${reply.id}" class="article_button"
                                th:text="'수정'"
                                th:onclick="'toggleModifybtn(' + ${reply.id} + ')'"></button>
                        <input type="hidden" th:name="'reply-text-'+${reply.id}" th:value="${reply.body}"/>
                        <button th:id="'save-btn-' + ${reply.id}" class="article_button" style="display:none;"
                                th:text="'저장'" type="button"
                                th:onclick="'doModifyReply(' + ${reply.id} + ')'"></button>
                    </div>
                    <div>
                        <button class="article_button" th:text="삭제" th:onclick="'doDeleteReply(' + ${reply.id} + ')'">
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    // 댓글 수정 버튼 클릭 시 실행되는 함수
    function toggleModifybtn(replyId) {
        // 수정 버튼 숨기고 저장 버튼 표시
        $('#modify-btn-' + replyId).hide();
        $('#save-btn-' + replyId).show();
        $('#reply-' + replyId).hide();
        $('#modify-form-' + replyId).show();
    }

    // 댓글 저장 버튼 클릭 시 실행되는 함수
    function doModifyReply(replyId) {
        let form = $('#modify-form-' + replyId);
        let text = form.find('input[name="reply-text-' + replyId + '"]').val();

        if(text.length <= 3){
            confirm("내용이 너무 짧습니다");
            return;
        }

        $.ajax({
            url: '/usr/reply/doModify',
            type: 'POST',                                // HTTP 메서드를 POST로 변경
            data: {
                id: replyId,
                body: text,
                ajaxMode: 'Y'
            },       // 요청 데이터
            dataType: 'text',              // 응답 데이터 타입을 text로 변경
            success: function (data) {    // 성공 시 콜백
                $('#modify-form-' + replyId).hide();
                $('#reply-' + replyId).text(data); // 응답에서 body 문자열을 사용
                $('#reply-' + replyId).show();
                $('#save-btn-' + replyId).hide();
                $('#modify-btn-' + replyId).show();
            },
            error: function () {          // 오류 발생 시 콜백
                alert('댓글 수정에 실패했습니다' + replyId + ", " + text);
            }
        });
    }

    // 댓글 삭제 버튼 클릭 시 실행되는 함수
    function doDeleteReply(replyId) {
        $.ajax({
            url: '/usr/reply/doDelete',
            type: 'POST',                                // HTTP 메서드를 POST로 변경
            data: {
                id: replyId,
                ajaxMode: 'Y'
            },       // 요청 데이터
            dataType: 'text',              // 응답 데이터 타입을 text로 변경
            success: function (data) {// 성공 시 콜백
                location.reload();
            },
            error: function () {          // 오류 발생 시 콜백
                alert('댓글 삭제에 실패했습니다');
            }
        });
    }

    // 좋아요 버튼 클릭 시 실행되는 함수
    function doGoodReaction(relTypeCode, relId) {
        $.ajax({
            url: '/usr/reactionPoint/doGoodReaction',
            type: 'POST',                                // HTTP 메서드를 POST로 변경
            data: {
                relTypeCode: relTypeCode,
                relId: relId,
                ajaxMode: 'Y'
            },      // 요청 데이터
            dataType: 'json',
            success: function (data) {// 성공 시 콜백
                if (relTypeCode == 'article') {
                    $('#likeCount').text(data.data1); // 응답에서 body 문자열을 사용
                    if ($('#likeButton').hasClass('tw-text-red-500')) {
                        $('#likeButton').removeClass('tw-text-red-500 tw-font-bold');
                    } else {
                        $('#likeButton').addClass('tw-text-red-500 tw-font-bold');
                    }
                } else if (relTypeCode == 'reply') {
                    $('#replylikeCount' + relId).text(data.data1);
                    if ($('#reply-body-' + relId).find('i').hasClass('tw-text-red-500')) {
                        $('#reply-body-' + relId).find('i').removeClass('tw-text-red-500');
                    } else {
                        $('#reply-body-' + relId).find('i').addClass('tw-text-red-500');
                    }

                }
            },
            error: function () {          // 오류 발생 시 콜백
                alert('추천을 실패했습니다');
            }
        });
    }
</script>
</body>
<th:block th:replace="usr/common/mouseEffect"/>