<th:block th:replace="usr/common/head"/>
<head>
    <title>TailsRoute</title>
    <link rel="stylesheet" href="/resource/css/article2.css"/>
</head>
<body>
<div class="tw-h-[60px]"></div>
<div class="tw-pb-[30px]">
    <div class="tw-text-center tw-text-[50px] tw-p-[20px] tw-border-b-2 tw-border-[#DADADA] tw-max-w-[1440px] tw-mx-auto">
        커뮤니티 메인
    </div>
</div>
<div class="motivation_wrapper">
    <div class="motivation_container" th:text="${randomMotivation}"></div>
</div>
<div class="list_head">
    <a class="list_head_a tw-relative" href="/usr/shopping/page">
        <img class="list_head_a_img"
             src="/uploads/photo/shoping2.png" alt="쇼핑 사진">
        <div class="tw-absolute list_head_a_title">쇼핑</div>
        <div class="tw-absolute list_head_a_body">반려동물을 위한 다양한 용품을 만나보세요! 필요한 모든 제품을 한곳에서 편리하게 쇼핑할 수 있습니다.</div>
    </a>
    <a class="list_head_a tw-relative" href="/usr/walk/page">
        <img class="list_head_a_img"
             src="/uploads/photo/walk3.png" alt="산책 사진">
        <div class="tw-absolute list_head_a_title">산책</div>
        <div class="tw-absolute list_head_a_body">반려동물과의 소중한 산책 추억을 기록하세요! 이동 거리와 시간을 관리하며 특별한 순간을 간직해보세요.</div>
    </a>
    <a class="list_head_a tw-relative" href="/usr/diary/list">
        <img class="list_head_a_img"
             src="/uploads/photo/diary4.png" alt="일정 사진">
        <div class="tw-absolute list_head_a_title">일정</div>
        <div class="tw-absolute list_head_a_body">반려동물의 일정을 체계적으로 관리하세요! 예방접종, 약 복용 등 중요한 일정도 한눈에 확인 가능합니다.</div>
    </a>
</div>
<div class="list_body">
    <div class="list_sidebar">
        <div class="list_profile">
            <div class="" th:if="${member == null}">
                <a class="list_profile_login button" href="../member/login" th:text="로그인"></a>
            </div>
            <div class="tw-flex tw-gap-[10px]" th:if="${member != null}">
                <img class="list_profile_dogPoto" th:if="${member.extra__dogPoto != null}"
                     th:src="@{${member.extra__dogPoto}}" alt="Profile Image"/>
                <img class="list_profile_dogPoto" th:if="${member.extra__dogPoto == null}"
                     th:src="@{/resource/photo/default.png}" alt="Default Profile Image"/>
                <div class="tw-flex tw-flex-col tw-items-center tw-justify-center">
                    <div class="list_profile_nickname" th:text="${member.nickname}"></div>
                    <a class="link" th:href="'../article/list?memberId='+${member.id}">내가 작성한 글 보기</a>
                </div>
            </div>
        </div>
        <div class="tw-w-full tw-pl-[50px]">
            <div class="list_board_title">🐕 즐거운 소통방</div>
            <div th:class="${boardId == 0 ? 'list_board tw-text-[#ff6f61]' : 'list_board'}">
                <a class="a" href="../article/list?boardId=0&page=1">전체 게시판</a>
            </div>
            <div th:class="${boardId == 1 ? 'list_board tw-text-[#ff6f61]' : 'list_board'}">
                <a class="a" href="../article/list?boardId=1&page=1">공지사항</a>
            </div>
            <div th:class="${boardId == 2 ? 'list_board tw-text-[#ff6f61]' : 'list_board'}">
                <a class="a" href="../article/list?boardId=2&page=1">자유게시판</a>
            </div>
            <div th:class="${boardId == 3 ? 'list_board tw-text-[#ff6f61]' : 'list_board'}">
                <a class="a" href="../article/list?boardId=3&page=1">Q & A</a>
            </div>
            <div th:class="${boardId == 4 ? 'list_board tw-text-[#ff6f61]' : 'list_board'}">
                <a class="a" href="../article/list?boardId=4&page=1">추천합니다</a>
            </div>
            <div th:class="${boardId == 5 ? 'list_board tw-text-[#ff6f61]' : 'list_board'}">
                <a class="a" href="../article/list?boardId=5&page=1">일상기록공유</a>
            </div>
        </div>
        <div class="list_walkRanking">
            <div class="tw-flex tw-justify-between underline">
                <div class="tw-p-2" th:text="${monthlyTitle}"></div>
                <button class="tw-p-2 walkRanking_button" onclick="$('.popup').fadeIn();" th:if="${walks.size() > 0}">
                    더보기
                </button>
            </div>
            <div th:each="walk, iterStat : ${walks}" th:if="${iterStat.index < 3}" class="tw-flex tw-flex-col tw-p-2">
                <div class="tw-w-[20px]" th:text="${iterStat.index + 1} + '등'"></div>
                <div class="tw-flex">
                    <div class="tw-w-[120px]" th:text="${walk.getExtra__walker()}"></div>
                    <div class="tw-w-[50px]" th:text="|${walk.getExtra__count()}회|"></div>
                    <div class="tw-w-[60px]" th:text="|${walk.getExtra__distance()}km|"></div>
                </div>
            </div>
            <a href="../walk/page" class="tw-block tw-p-2" th:if="${walks.size() <= 0}">
                <div>아직 산책왕이 없습니다</div>
                <div th:text="|${monthlyTitle}에|"></div>
                <div>도전해보세요!</div>
            </a>
        </div>
    </div>
    <div class="list_main">
        <div class="tw-flex tw-justify-between tw-items-center tw-pl-[80px] tw-pb-[20px]">
            <div>
                <div class="tw-font-bold tw-text-4xl tw-pb-[20px]">
                    <span th:text="전체게시판"></span>
                    <a href="../article/list?boardId=0&page=1" class="tw-text-base tw-pl-2"
                       th:text="'더보기 ' + '&#10095;'"></a>
                </div>
                <div>모든 게시글을 한눈에 확인할 수 있는 공간입니다. 최신 소식과 다양한 주제를 만나보세요!</div>
            </div>
            <a class="link tw-pr-[100px]" th:href="@{../article/write}">작성하기</a>
        </div>
        <div class="tw-p-10">
            <!-- 게시글 목록이 있는 경우 -->
            <div class="underline tw-flex tw-gap-5 tw-p-5" th:each="article : ${articles}" th:if="${articles != null}">
                <img class="list_main_dogPoto" th:if="${article.extra__dogPoto != null}"
                     th:src="@{${article.extra__dogPoto}}" alt="Profile Image"/>
                <img class="list_main_dogPoto" th:if="${article.extra__dogPoto == null}"
                     th:src="@{/resource/photo/default.png}" alt="Default Profile Image"/>
                <a class="list_main_body" th:href="@{'../article/detail?id=' + ${article.id}}">
                    <div class="tw-flex tw-items-center">
                        <span class="tw-text-2xl tw-pl-2 tw-pb-2 tw-pr-2 link"
                              th:text="${#strings.abbreviate(article.title,20)}"></span>
                        <span th:text="' [ ' + ${article.extra__repliesCount} + ' ]'"
                              th:if="${article.extra__repliesCount} > 0"
                              style="color: red; font-weight: bold;"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 30 30"
                             style="display: inline-block;" th:if="${article.articleCanNew}">
                            <circle cx="15" cy="15" r="12" fill="#ff6f61"/>
                            <text x="15" y="16" font-size="10" fill="white" font-family="Arial, sans-serif"
                                  text-anchor="middle" dominant-baseline="middle"> N
                            </text>
                        </svg>
                    </div>
                    <div>
                        <span class="tw-p-2" th:text="${#strings.abbreviate(article.body,30)}"></span>
                    </div>
                </a>
                <div class="list_main_poot">
                    <img class="list_main_poot_img" th:if="${article.poto != null}" th:src="${article.poto}" alt="image"
                         contenteditable="false">
                </div>
            </div>

            <!-- 게시글이 없는 경우 -->
            <div th:if="${articles.size() == 0}">
                <div class="tw-p-10" style="text-align: center;">게시글이 없습니다</td>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list_walkRanking popup" th:if="${walks != null}" style="display: none">
    <div class="tw-flex tw-justify-between underline">
        <div class="tw-p-2" th:text="${monthlyTitle}"></div>
        <button class="tw-p-2" onclick="$('.popup').fadeOut();">X</button>
    </div>
    <div th:each="walk, iterStat : ${walks}" class="tw-flex tw-flex-col tw-p-2">
        <div class="tw-w-[20px]" th:text="${iterStat.index + 1} + '등'"></div>
        <div class="tw-flex">
            <div class="tw-w-[120px]" th:text="${walk.getExtra__walker()}"></div>
            <div class="tw-w-[50px]" th:text="|${walk.getExtra__count()}회|"></div>
            <div class="tw-w-[60px]" th:text="|${walk.getExtra__distance()}km|"></div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="usr/common/mouseEffect"/>