<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TailsRoute</title>
    <link rel="stylesheet" href="/resource/css/main3.css"/>
    <link href="/resource/dist/styles.css" th:href="@{/resource/dist/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/resource/js/main.js"></script>
<section class="content tw-bg-[#EDE0D4] tw-relative">
    <div class="main-missing-body">
        <div class="tw-p-[100px] tw-relative">
            <h2 class="tw-text-4xl tw-font-bold tw-text-gray-700">실종 신고 및 알림 서비스</h2>
            <div class="tw-flex tw-justify-between">
            <span class="main-missing-text-body tw-text-xl tw-pt-4">반려견이 실종되었을 때, 신고 포스터를 작성하여 주변 사용자와 사이트 방문자에게 도움을 요청하실 수
                있습니다.</span>
                <a href="../missing/list" class="tw-text-4xl">&#x279C;</a>
            </div>
        </div>
        <div class="slider_wrapper">
            <button class="slider_btn left_btn">&#10094;</button>
            <div class="slider_container">
                <a class="misssing_item tw-relative" th:href="@{'../missing/detail?missingId='+${missing.id}}"
                   th:each="missing : ${missings}">
                    <img th:src="@{${missing.photo}}" alt="Missing Image" class="misssing_image"/>
                    <div class="overlay">
                        <div class="tw-p-2 tw-text-[12px]" th:text="${missing.reportDate.substring(0, 13)}"></div>
                        <div class="tw-p-2 tw-font-bold" th:text="${missing.name}"></div>
                        <div class="tw-p-2"
                             th:text="${#strings.length(missing.missingLocation) >= 22 ? missing.missingLocation.substring(0, 22) + ' ...' : missing.missingLocation}"></div>
                        <div class="tw-pl-2 tw-pt-2"
                             th:text="${#strings.length(missing.trait) >= 22 ? missing.trait.substring(0, 22) : missing.trait}"></div>
                        <span class="tw-pl-2" th:if="${#strings.length(missing.trait) >= 22}" th:text="..."></span>
                        <span class="tw-absolute tw-right-5" th:href="@{'../missing/detail?missingId='+${missing.id}}"
                              th:text="'자세히보기 ' + '&#10095;'"></span>
                    </div>
                </a>
            </div>
            <button class="slider_btn right_btn">&#10095;</button>
        </div>
    </div>

    <div class="gps_popup tw-gap-5" th:if="${isLogined && gpsChack == null}">
        <div class="tw-p-2 tw-text-3xl">[ GPS 정보 수집 동의 안내 ] (1)</div>
        <div class="tw-p-2 tw-text-2xl">위치 정보 수집에 동의하지 않을 경우 일부 서비스 이용이 제한될 수 있습니다.</div>
        <div class="tw-p-2 tw-text-2xl">접속 환경이 변경될 경우, 안내 팝업이 다시 표시될 수 있습니다.</div>
        <div class="tw-flex tw-gap-11">
            <button class="gps_popup_button" onclick="gpsChackOn()">동의</button>
            <button class="gps_popup_button" onclick="gpsChackOff()">거부</button>
        </div>
    </div>

    <div class="gps_popup2 tw-gap-5" style="display: none;">
        <div class="tw-p-2 tw-text-3xl">[ GPS 정보 수집 동의 안내 ] (2)</div>
        <div class="tw-p-2 tw-text-2xl">위치 정보 수집에 동의하지 않을 경우 일부 서비스 이용이 제한될 수 있습니다.</div>
        <div class="tw-p-2 tw-text-2xl">접속 환경이 변경될 경우, 안내 팝업이 다시 표시될 수 있습니다.</div>
        <div class="tw-flex tw-gap-11">
            <button class="gps_popup_button" onclick="gpsChackUpdate()">동의</button>
            <button class="gps_popup_button" onclick="gpsChackCancel()">거부</button>
        </div>
    </div>
</section>
<section class="content tw-bg-[#EDE0D4] tw-relative">
    <div class="main-missing-body">
        <div class="tw-p-[100px]">
            <h2 class="tw-text-4xl tw-font-bold tw-text-gray-700">반려견 훈련 영상 추천,</h2>
            <h2 class="tw-text-4xl tw-font-bold tw-text-gray-700">AI 기반 훈련 지원</h2>
            <div class="box3">
                <div class="container">
                    <a href="../health/page" class="svg-box">
                        <span class="svg-title tw-text-xl tw-font-bold">실시간 피드백 제공</span>
                        <span class="svg-icon flat-filled" id="filled-message"></span>
                        <span class="svg-text tw-text-xl tw-font-bold">AI가 훈련 진행 사항을 실시간으로 피드백</span>
                    </a>
                    <a href="../health/page" class="svg-box">
                        <span class="svg-title tw-text-xl tw-font-bold">즉각적인 도움 제공</span>
                        <span class="svg-icon flat-filled" id="filled-film"></span>
                        <span class="svg-text tw-text-xl tw-font-bold">맞춤형 영상을 추천하여 주인의 훈련 노력을 더 효과적으로 도움</span>
                    </a>
                    <a href="../health/page" class="svg-box">
                        <span class="svg-title tw-text-xl tw-font-bold">행동 패턴 기록 및 분석</span>
                        <span class="svg-icon flat-filled" id="filled-magnify"></span>
                        <span class="svg-text tw-text-xl tw-font-bold">AI가 행동 데이터를 기록해 맞춤 훈련 적략 제공</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>